Babel==2.3.4
beautifulsoup4==4.6.0
boltons==18.0.0
certifi==2018.4.16
decorator==4.0.10
docutils==0.12
ebaysdk==2.1.4
echarts-themes-pypkg==0.0.1
feedparser==5.2.1
funcsigs==1.0.2
future==0.16.0
gevent==1.1.2
greenlet==0.4.10
jcconv==0.2.3
Jinja2==2.8
lml==0.0.2
lxml==3.5.0
Mako==1.0.4
MarkupSafe==0.23
minio==4.0.0
mock==2.0.0
numpy==1.14.2
ofxparse==0.16
pandas==0.22.0
passlib==1.6.5
pbr==4.0.2
Pillow==3.4.1
psutil==4.3.1
psycogreen==1.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
pydot==1.2.3
pyparsing==2.1.10
pyPdf==1.13
pyserial==3.1.1
Python-Chart==1.39
python-dateutil==2.5.3
python-ldap==2.4.27; sys_platform != 'win32'
python-openid==2.2.5
python-stdnum==1.9
pytz==2016.7
pyusb==1.0.0
PyYAML==3.12
qrcode==5.3
reportlab==3.3.0
requests==2.11.1
scipy==1.0.1
six==1.10.0
suds-jurko==0.6
urllib3==1.22
validators==0.12.1
vatnumber==1.2
vobject==0.9.3
Werkzeug==0.11.11
xlrd==1.0.0
XlsxWriter==0.9.3
xlwt==1.1.2
simplejson==3.14.0
celery==4.2.1; sys_platform != 'win32' and python_version > '3.5'
pypiwin32; sys_platform == 'win32'
